<form action="/shelters/"<%=@shelter.id%>"/pets", method:post>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="image">Image URL:</label>
  <input type="text" name="image"></br>
  <label for="name">Name:</label>
  <input type="text" name="name"></br>
  <label for="name">Description:</label>
  <input type="text" name="description"></br>
  <label for="name">Approximate Age:</label>
  <input type="text" name="approximate_age"></br>
  <label for="name">Sex ('female' or 'male'):</label>
  <input type="text" name="sex"></br>
  <input type="submit" value="Create Shelter">
</form>
