<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class ="topnav">
	    <a class="active" href="/pets">Pets</a>
      <a class="active" href="/shelters">Shelter</a>
    </div>
    <%= yield %>
  </body>
</html>
